[submodule "Carthage/Checkouts/SDWebImage"]
	path = Carthage/Checkouts/SDWebImage
	url = https://github.com/SDWebImage/SDWebImage.git
[submodule "Carthage/Checkouts/Masonry"]
	path = Carthage/Checkouts/Masonry
	url = https://github.com/cloudkite/Masonry.git
